.social-media-icons {
  background-color: rgb(0, 0, 0);
  padding-top: 35px;
  padding-bottom: 80px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;

}

.Social {
  color: white;
  float: right;
  margin-right: 20px;
}

.Social a {
  margin-right: 10px;
  color: white;
  margin-top: 20px;
}

footer {
  border-top: 1px solid #ccc;
  background-color: rgb(0, 0, 0);
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  font-size: small;
  font-family: sans serif, arial or verdana;
}

footer a {
  color: white;
  font-size: small;
  font-family: sans serif, arial or verdana;
}

.intro {
  color: white;
  margin-left: 20px;
  /* margin-top: 10px; */
}


@media screen and (max-width: 568px) {
  .social-media-icons {
    background-color: rgb(0, 0, 0);
    padding-top: 35px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .Social {
    color: white;
    float: right;
    margin-left: 20px;
    margin-top: 10px;
  }

  #contact-form {
    width: 80vw;
  }
}