.typewriter-container {
  width: 300px;
  /* Adjust the width as needed */
  margin: 0 auto;
  /* Center the container horizontally */
  white-space: nowrap;
  /* Prevent text from wrapping */
  overflow: hidden;
  /* Hide overflowing text */
  margin-bottom: 20px;
}

.typewriter {
  border-right: 2px solid #000;
  /* Add a border to the right for the typing effect */
  font-size: 15px;
  /* Adjust font size as needed */
  display: inline-block;
  /* Ensure the container doesn't change size */
}

.typewriter span {
  display: inline-block;
  animation: typing 2s steps(12, end), blink-caret 0.5s step-end infinite;
}